*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

body {
    position: relative;
}
.text {
    position: absolute;
    left: 52%;
    transform: translateX(-50%);
    top: 10%;
    font-size: 40px;
    color: white;
    font-weight: 700;
}

.text span {
    color: orange;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-image: url('./images/back.jpeg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 400px;
}

.fuel-tank {
    padding: 50px;
}

.fuel-tank img {
    width: 200px;
    height: 200px;
}
.rocket {
    padding: 50px;
    position: relative;
}

.rocket img {
    width: 200px;
    height: 200px;
    position: absolute;
    left: -100px;
    top: -50px;
    transition: all 10s ease;
}

.rocket.active img {
    left: 1500px;
    top: -2200px;
}
